/* Define CSS variables for colors and fonts */
:root {
    --primary-color: #CFDBD5; /* Light Gray */
    --secondary-color: #333533; /* Dark Gray */
    --accent-color: #F4A261; /* Orange - Primary Accent */
    --background-color: #E8EDDF; /* Off White */
    --highlight-color: #242423; /* Very Dark Gray */
    --text-color: #333533; /* Dark Gray */
    --button-color: #4A6FA5; /* Blue - Primary Button Color */
    --button-hover-color: #E27B3F; /* Orange - Button Hover State */
    --white-color: #ffffff;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply global font styles */
body {
    font-family: var(--font-secondary);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Navbar */
.navbar {
    padding: 10px 30px; /* Increased padding */
    background-color: var(--primary-color); /* Darker background for better contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Slightly more shadow */
}

.navbar .nav-link {
    font-family: var(--font-primary);
    font-weight: 600;
    margin: 0 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    color: var(--highlight-color); /* White color for better contrast on dark background */
    font-size: 18px;
    font-weight: bold;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Thinner underline for a more elegant look */
    background-color: var(--accent-color); /* Accent color for the underline */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
    color: #F4A261; /* Accent color on hover */

}

.navbar .nav-link:hover {
    color: var(--button-hover-color); /* Change text color on hover */
}

.navbar .nav-link:hover::after {
    width: 100%;
}

/* Logo */
.logo-circle {
    width: 60px;
    height: 60px;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for a 3D effect */
    transition: transform 0.3s;
    background-color: #E27B3F; /* Darker shade of accent color for contrast */
    margin-left: -30px; /* Pushes logo to the left */
}

.logo-circle:hover {
    transform: scale(1.3); /* Slightly enlarge on hover */
}

.navbar .navbar-brand {
    color: var(--button-hover-color); /* Match logo color */
    font-family: var(--font-primary);
    font-weight: 700; /* Use a bold weight */
    font-size: 26px;
    font-weight: 700;
    margin-left: 0; /* Align logo to the left */
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #E8EDDF, #CFDBD5); /* Gradient background */
    height: 100vh; /* Slightly reduced height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    text-align: left;
    padding: 0 50px;
    color: var(--highlight-color);
}

@media (max-width: 768px) {
    .hero {
        padding-top: 150px; /* Adjust the top padding for small screens */
    }
}

.hero-subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    color: var(--highlight-color);
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-left: 3px solid var(--accent-color); /* Updated border */
}

.hero-title {
    font-size: 3.5rem; /* Slightly larger for more impact */
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

.hero-title .highlight {
    color: var(--text-color); /* Darker shade of orange for better contrast */
}

.hero-description {
    font-size: 1.25rem; /* Slightly reduced for balance */
    color: var(--text-color);
    margin-bottom: 30px;
    max-width: 700px; /* Adjusted width for better responsiveness */
    line-height: 1.6; /* Improved readability */
}

/* Hero Buttons */
.hero-buttons .btn-light {
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    background-color: var(--button-color); /* Muted blue */
    color: var(--white-color)
}

.hero-buttons .btn-dark {
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
}

.hero-buttons .btn-light:hover,
.hero-buttons .btn-dark:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-5px); /* Slight lift on hover */
}

.hero-buttons .btn i {
    margin-right: 8px;
    font-size: 1.2rem; /* Adjust icon size */
}





/* About Section */
.about-me {
    padding: 450px 0 !important; 
    background: linear-gradient(135deg, #E8EDDF, #CFDBD5); /* Gradient background */
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Gradient Background */
.about-me::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 1100px;
    background: radial-gradient(circle at center, rgba(43, 41, 41, 0.15), rgba(0, 0, 0, 0.05));
    opacity: 0.3;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

/* Highlight Text Styling */
.highlight-text {
    color: var(--highlight-color); /* Use the accent color for emphasis */
    font-weight: 600;
    background: linear-gradient(135deg, rgba(245, 203, 92, 0.2), rgba(245, 203, 92, 0.1));
    padding: 2px 4px;
    border-radius: 5px;
}




/* Profile Image Styling */
.about-me img {
    border-radius: 50%;
    max-width: 400px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    border: 10px solid rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-me img:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

.about-title {
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: bold;
    color: var(--highlight-color);
    margin-top: 30px;
    z-index: 2;
    position: relative;
}

.about-description {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.8;
    margin: 20px auto 40px;
    max-width: 800px;
    display: inline-block;
    z-index: 2;
    position: relative;
}

/* Button Styling */
.btn-primary {
    background: linear-gradient(135deg, var(--button-color), var(--button-hover-color));
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
    position: relative;
}

.btn-primary:hover {
    background: var(--highlight-color);
    color: var(--white-color);
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.btn-primary i {
    font-size: 24px;
}

/* Separator Line */
.about-me .separator {
    width: 100px;
    height: 4px;
    background: linear-gradient(135deg, var(--accent-color), var(--highlight-color));
    margin: 20px auto;
    z-index: 2;
    position: relative;
    border-radius: 5px;
}







/* Skills Section */
.skills {
    padding: 100px 0;
    background-color: var(--background-color);
    opacity: 0;
    padding: 100px 50px;
}

.skills-box {
    background: linear-gradient(135deg, rgba(74, 111, 165, 0.9), rgba(207, 219, 213, 0.9)); /* Gradient with slight transparency */
    color: var(--text-color);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 0 auto;
    max-width: 1200px;
}

.skills-title {
    color: var(--highlight-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-align: left;
}

.skills-title::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: var(--highlight-color);
    margin-right: 10px;
}

.skills-main-title {
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 15px;
    text-align: left;
}

.skills-description {
    font-family: var(--font-secondary);
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
}

.skills-categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.skills-category-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-category-box:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.skills-category {
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    height: 50px; /* Set a fixed height to align items */
    width: 100%; /* Make sure all skill items have the same width */
}

.skill-item:hover {
    transform: scale(1.05);
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.skill-item i {
    color: var(--highlight-color);
    font-size: 1.5rem;
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}

.skill-item:hover i {
    transform: scale(1.2);
    color: var(--white-color);
}

.skill-item h5 {
    margin: 0;
    font-size: 1rem;
    color: var(--text-color);
}

/* Aligning content inside the category boxes */
.skills-category-box .skill-item {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    padding-left: 20px; /* Add padding for spacing */
}

/* Projects Section */
.projects {
    padding: 100px 0;
    background-color: var(--background-color);
}

.projects-box {
    background: linear-gradient(135deg, rgba(207, 219, 213, 0.9), rgba(74, 111, 165, 0.9)); /* Gradient with slight transparency */
    border-radius: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    padding: 60px; /* Increased padding */
    margin: 50px auto;
    max-width: 1200px; /* Increased width */
    margin-bottom: 100px;
}

.projects-title {
    color: var(--highlight-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.projects-title::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: var(--highlight-color);
    margin-right: 10px;
}

.projects-main-title {
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--white-color);
    text-align: left;
    position: relative;
}

.projects-description {
    font-family: var(--font-secondary);
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left
}

.project-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    background-color: var(--muted-blue);
    color: var(--highlight-color);
}

.project-card img {
    border-radius: 10px;
    transition: transform 0.3s;
    margin-bottom: 20px; /* Added space between image and title */
}

.project-card:hover img {
    transform: scale(1.05);
}

/* Tags Styling */
.project-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between tags */
    margin-bottom: 15px; /* Spacing before the project title */
}

.project-tag {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 13px;
    font-family: var(--font-secondary);
    display: inline-block;
    transition: background-color 0.3s;
}

.project-tag:hover {
    background-color: var(--highlight-color);
}

.project-card h5 {
    font-family: var(--font-primary);
    color: var(--highlight-color);
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.project-card p {
    font-family: var(--font-secondary);
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 20px; /* Adjusted spacing before button */
}

/* View Project Button */
.project-card button {
    background: var(--text-color);
    color: #ffffff; /* Set text color to white for better contrast */
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}

.project-card button:hover {
    background-color: var(--accent-color); /* Change background color on hover */
    color: #fff; /* Ensure text remains visible on hover */
    transform: scale(1.05); /* Button scaling on hover */
}



/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--highlight-color); /* Change footer text color to black */
    padding: 20px 0;
}

.footer a {
    color: var(--highlight-color); /* Set social icons color to black */
    text-decoration: none;
    margin: 0 10px;
    size: 20px;
}

.footer a:hover {
    color: var(--accent-color) !important; /* Change color to accent on hover */
}

.footer a i {
    font-size: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .projects-box {
        padding: 30px;
    }

    .project-card {
        padding: 15px;
    }
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply Animation to the Skills Section */
.skills {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s; /* Delay to make it appear smoothly */
}

/* Scroll to Top Button */
#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Ensure it stays on top */
    background-color: #333533; /* Dark Gray */
    color: var(--white-color);
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #F4A261; /* Accent Color */
}
