/* Define CSS variables for colors and fonts */
:root {
    --primary-color: #CFDBD5;
    --secondary-color: #333533;
    --accent-color: #F4A261;
    --background-color: #E8EDDF;
    --highlight-color: #242423;
    --text-color: #333533;
    --button-color: #4A6FA5;
    --button-hover-color: #E27B3F;
    --white-color: #ffffff;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply global font styles */
body {
    font-family: var(--font-secondary);
    background-color: var(--white-color);
    color: var(--text-color);
}

section {
    padding: 100px 0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* Or adjust for left alignment */
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #333533;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #333533;
}




/* Navbar */
.navbar {
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* Apply fixed-top positioning for larger devices */
@media (min-width: 992px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
    color: #242423;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--button-hover-color);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
    color: var(--button-hover-color);
}

.navbar .nav-link:hover {
    color: var(--button-hover-color);
}

.navbar .nav-link:hover::after {
    width: 100%;
}

/* Logo */
.logo-container {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #333533, #4A6FA5);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo-container .logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* Brand Text */
.brand-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.brand-text span:last-child {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(90deg, #F4A261, #4A6FA5);
    -webkit-background-clip: text;
    color: transparent;
}

/* Hero Section */
@media (max-width: 768px) {
    .title-container {
        margin-bottom: 90px;
    }
}

/* Hero Section Styles */
.hero {
    background: linear-gradient(135deg, #F5CB5C, #E8EDDF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    color: #333533;
    margin-top: 90px;
    flex-direction: column; /* Align content vertically */
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.hero-title {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #2A2D34;
    margin-bottom: 1.5rem; /* Increase spacing below the title */
}

/* Hero Section Title - Grigore Text */
.hero-title .highlight {
    color: #F78C50;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.hero-title .last-name {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    color: var(--button-hover-color);
}

.hero-subtitle {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333533;
    margin-bottom: 3rem; /* Increase margin for more space */
    letter-spacing: 1px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Increase gap between buttons */
    margin-top: 3.5rem; /* More vertical space above the buttons */
}

.hero-buttons .btn {
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for buttons */
}

.hero-buttons .btn-light {
    background-color: #2A2D34;
    color: white;
    border: none;
}

.hero-buttons .btn-light:hover {
    background-color: var(--button-hover-color);
    color: #2A2D34;
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

.hero-buttons .btn-dark {
    background-color: #007aff;
    border: none;
}

.hero-buttons .btn-dark:hover {
    background-color: #2A2D34;
    color: #F5CB5C;
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

/* Adjust icon size and spacing */
.hero-buttons .btn i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.hero-buttons .btn:hover i {
    transform: translateY(-2px);
    transition:
    transform 0.3s ease-in-out;
}





@media (max-width: 768px) { /* Adjust the max-width as needed */
    .hero-buttons .btn {
        font-size: 1rem; /* Adjust the font size for smaller screens */
    }
}


@media (max-width: 768px) {
    .hero-buttons a {
        margin-bottom: 15px; /* Adjust this value as needed */
        display: inline-block; /* Ensure buttons stay on top of each other */
        width: 100%; /* Make buttons take full width on mobile for better UX */
        text-align: center; /* Center the text inside the buttons */
    }
    
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Additional space between buttons */
    }
}





/* About Section */
.about-me {
    padding: 150px 0;
    background: var(--background-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

/* Gradient Background */
.about-me::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 1100px;
    background: radial-gradient(circle at center, rgba(43, 41, 41, 0.15), rgba(0, 0, 0, 0.05));
    opacity: 0.3;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

/* Highlight Text Styling */
.highlight-text {
    color: var(--highlight-color);
    font-weight: 600;
    background: linear-gradient(135deg, rgba(245, 203, 92, 0.2), rgba(245, 203, 92, 0.1));
    padding: 2px 4px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

/* Profile Image Styling */
.about-me img {
    border-radius: 50%;
    max-width: 350px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    border: 10px solid rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-me img:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

/* About Title */
.about-title {
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--highlight-color);
    margin-top: 20px;
    z-index: 2;
    position: relative;
    letter-spacing: 0.8px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
}

/* About Description */
.about-description {
    font-family: var(--font-secondary);
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.8;
    margin: 20px auto 40px;
    max-width: 800px;
    display: inline-block;
    z-index: 2;
    position: relative;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Button Styling */
.btn-primary {
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 2;
    position: relative;
    letter-spacing: 0.5px;
    background: linear-gradient(135deg, #4A6FA5, #E27B3F);
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background: #fff;
    color: var(--highlight-color);
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--accent-color);
    font-weight: bold;
}

.btn-primary i {
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Separator Line */
.about-me .separator {
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #F4A261, #333533);
    margin: 20px auto;
    border-radius: 5px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(1);
    }
}








/* Skills Section */
.skills {
    padding: 100px 0;
    opacity: 1;
    
}

/* Skills Container */
.skills-box {
    border: 2px solid #E27B3F; /* Accent border */
    background: linear-gradient(135deg, #f7f8fa, #dfe3e6); /* Light soft gradient with very neutral tones */
    color: #333533; /* Darker text color for better contrast */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 0 auto;
    max-width: 1200px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px; /* Added smooth corner for consistency */
}

/* Skills Section Titles */
.skills-title {
    color: var(--highlight-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 0.5px;
}

.skills-title::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--highlight-color);
    margin-right: 10px;
}

.skills-main-title {
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: 0.8px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Skills Description */
.skills-description {
    font-family: var(--font-secondary);
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Skills Categories */
.skills-categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Skills Category Box */
.skills-category-box {
    background: linear-gradient(135deg, rgba(74, 111, 165, 0.9), rgba(207, 219, 213, 0.9));
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-category-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* Skills Category Title */
.skills-category {
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    letter-spacing: 0.5px;
}

/* Hide the skills title on mobile */
@media (max-width: 600px) {
    .skills-category {
        display: none; /* Hide titles on mobile */
    }
}

/* Individual Skill Item */
.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100%;
    padding-left: 20px;
    transition: all 0.3s ease;
    border: 1px solid #E27B3F; /* Accent border */
}

.skill-item:hover {
    transform: translateY(-2px) scale(1.05);
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* Skill Item Icon */
.skill-item i {
    color: var(--highlight-color);
    font-size: 1.8rem;
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}

.skill-item:hover i {
    transform: scale(1.2);
    color: var(--white-color);
}

/* Skill Item Text */
.skill-item h5 {
    margin: 0;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 0.5px;
}

/* Aligning content inside the category boxes */
.skills-category-box .skill-item {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .skills-category-box {
        margin: 10px 0;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .skills-categories {
        flex-direction: column; /* Stack the categories vertically */
        align-items: center; /* Center align the categories */
        gap: 20px; /* Add some space between the categories */
    }

    .skills-box {
        padding: 20px; /* Reduce padding for a more compact layout */
        max-width: 100%; /* Make the skills box take full width */
    }

    .skill-item {
        padding: 8px; /* Reduce padding inside the skill items */
        margin: 10px 0; /* Increase margin between items for more space */
        font-size: 0.9rem; /* Reduce font size slightly for mobile */
    }

    .skills-description {
        font-size: 16px; /* Reduce description font size for readability */
        text-align: center; /* Center-align text on smaller screens */
    }

    .skills-title,
    .skills-main-title {
        text-align: center; /* Ensure titles are centered */
        font-size: 24px; /* Slightly smaller font size for titles on mobile */
    }
}


/* Projects Section */
.projects {
    padding: 100px 0;
}

.project-box {
    background: linear-gradient(135deg, #F5CB5C, #E8EDDF);
    border: none;
}

.projects-box .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the cards */
    gap: 20px; /* Increased gap for better spacing */
}

.projects-title {
    color: var(--highlight-color);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px; /* Add letter-spacing for better readability */
}

.projects-title::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--highlight-color);
    margin-right: 10px;
}

.projects-main-title {
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: left;
    letter-spacing: 1.2px; /* Enhance letter-spacing for a polished look */
}

.projects-description {
    font-family: var(--font-secondary);
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
    line-height: 1.6; /* Improve readability */
    letter-spacing: 0.8px; /* Subtle letter-spacing */
}

/* Project Card Styling */
.project-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 100%; /* Full width of the container */
    height: 300px; /* Adjust the height as needed */
    max-width: 550px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* Project Image */
.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 10px;
}

.project-card:hover img {
    transform: scale(1.1);
}

/* Project Overlay (Visible on Hover) */
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.project-card:hover .project-overlay {
    opacity: 1; /* Show overlay on hover */
    transform: translateY(0);
}

/* Project Information */
.project-info {
    text-align: left;
}

/* Project Title */
.project-overlay h5 {
    font-family: var(--font-primary);
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px; /* Slight letter-spacing for project titles */
}

/* Project Description */
.project-overlay p {
    font-family: var(--font-secondary);
    font-size: 1rem;
    margin-bottom: 15px;
    color: #fff;
    letter-spacing: 0.5px;
}

/* Project Tags */
.project-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.project-tag {
    background-color: #F5CB5C;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--highlight-color);
    font-family: var(--font-secondary);
    letter-spacing: 1px;
}


/* Live Site Button */
.live-site-button {
    background-color: #0077B5;
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: flex-start;
    text-decoration: none;
    font-size: 1rem;
}

.live-site-button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

/* Project Media Queries */
@media (max-width: 768px) {
    .project-card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .project-card {
        flex: 0 1 calc(50% - 40px); /* Two cards per row */
    }
}

@media (min-width: 1201px) {
    .project-card {
        flex: 0 1 calc(33.33% - 40px); /* Three cards per row */
    }
}


/* Contact Section */
.contact-section {
    padding: 100px 0;
    background-color: var(--background-color);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

/* Contact Title */
.contact-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--highlight-color);
    margin-bottom: 20px;
}

/* Contact Text */
.contact-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Contact Buttons Styling */
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Button Styling */
.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    color: #fff;
}

/* Email Button */
.button-contact {
    background-color: #3A86FF;
}

.button-contact:hover {
    background-color: #2A5BCC;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* LinkedIn Button */
.button-linkedin {
    background-color: #0077B5; /* LinkedIn blue */
}

.button-linkedin:hover {
    background-color: #005A8B;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .contact-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px; /* Add some space between the buttons */
    }

    .contact-btn {
        width: 100%; /* Make the buttons take up full width */
        text-align: center; /* Center the text inside the buttons */
    }
}


/* Github Button */
.button-github {
    background-color: #FF8C00; /* Github button's color */
    color: #000;
}

.button-github:hover {
    background-color: #E27B3F;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Icon Styling */
.contact-btn i {
    margin-right: 10px;
    font-size: 1.5rem;
}


/* Footer */
.footer {
    background-color: var(--white-color); /* Same as navbar */
    color: var(--highlight-color); /* Same text color as navbar */
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Add shadow like navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack content vertically */
}

.footer a {
    color: var(--highlight-color); /* Set social icons color to match text */
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.footer a:hover {
    color: var(--button-hover-color); /* Change color to accent on hover */
}

.footer a i {
    font-size: 2.5rem;
    transition: transform 0.3s ease; /* Add hover effect on icons */
}

.footer a:hover i {
    transform: scale(1.2); /* Slightly enlarge icons on hover */
}

.footer-text {
    font-family: var(--font-secondary);
    font-size: 16px;
    margin: 10px 0 5px;
    text-align: center;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    .footer-text {
        font-size: 14px;
    }

    .footer a i {
        font-size: 1.3rem; /* Reduce icon size for smaller screens */
    }
}


@media (max-width: 768px) {
    .footer {
        text-align: center;
        padding: 20px 0; /* Ensure there's enough padding on mobile */
    }

    .footer-text {
        font-size: 14px; /* Adjust text size for better readability */
        margin-bottom: 10px;
    }

    .footer a {
        margin: 0 5px; /* Reduce space between icons */
        font-size: 20px; /* Adjust icon size */
    }

    /* For vertical stacking of the icons */
    .footer-icons {
        display: flex;
        justify-content: center;
        gap: 15px; /* Space between the icons */
        margin-top: 10px; /* Add some space above the icons */
    }

    /* Stack icons vertically if desired */
    @media (max-width: 480px) {
        .footer-icons {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}




/* Responsive Design */
@media (max-width: 768px) {
    .projects-box {
        padding: 30px;
    }

    .project-card {
        padding: 15px;
    }
}





/* Go to Top Button */
#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Keep it on top */
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #F4A261, #4A6FA5, #CFDBD5); /* Updated, softer gradient */
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow for a 3D effect */
    transition: all 0.3s ease-in-out; /* Smooth transitions for hover effect */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Consistent font */
}

/* Hover effect */
#scrollToTopBtn:hover {
    transform: translateY(-5px) scale(1.1); /* Slightly lift and enlarge on hover */
    background: linear-gradient(135deg, #4A6FA5, #F5CB5C, #E8EDDF); /* Updated hover gradient */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* More shadow on hover */
}

/* Icon Styling */
#scrollToTopBtn i {
    font-size: 1.5rem; /* Adjust the icon size */
    color: white;
    transition: transform 0.3s ease-in-out;
}

#scrollToTopBtn:hover i {
    transform: translateY(-2px); /* Add slight movement on hover */
}




/* Default navbar styles (for mobile and small devices) */
.navbar {
    position: static; /* or relative, based on your preference */
    width: 100%;
    z-index: 10; /* Keeps the navbar on top */
}



@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 15px;
    }

    section {
        padding: 50px 20px;
    }
}


/* Scroll Down Arrow */
.scroll-down {
    position: absolute;
    bottom: 30px; /* Adjust depending on your design */
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px; /* Arrow size */
    color: #333; /* Arrow color, adjust to your theme */
    z-index: 10;
}

.scroll-down a {
    text-decoration: none;
    color: inherit;
}

.scroll-down i {
    animation: bounce 2s infinite; /* Bouncing animation */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px); /* Adjust bounce height */
    }
    60% {
        transform: translateY(5px); /* Adjust bounce height */
    }
}
